.carrossel__titulo {
    color: var(--auxiliar1);
    background-color: var(--fundo2);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 1rem 0 0.5rem 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: .5em 0;
}

.card__descricao {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.card__botoes {
    display: flex;
    justify-content: space-between;
}

.botoes {
    display: flex;
}

.botoes__itens {
    margin: 0 0 0.5rem;
}

.botoes__ancora {
    background-color: var(--auxiliar1);
    color: var(--fundo2);
    padding: 1rem 2.2rem;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}

.card {
    background: var(--fundo2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1rem;
    padding: 1rem;
}

.descricao__titulo {
    margin-top: 0.5rem;
    color: var(--auxiliar1);
    font-weight: 700;
}

.descricao__titulo-livro {
    color: var(--auxiliar4);
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.descricao__texto {
    font-size: 0.9rem;
}

@media screen and (min-width: 1024px) {
    .carrossel__titulo {
        font-size: 1.7rem;
    }

    .swiper-pagination {
        margin: 2rem 0 3rem 0;
    }

    .swiper {
        width: 60%;
    }

    .swiper-button-prev, .swiper-button-next {
        display: block;
        top: 60%;
    }

    .card {
        width: 50%;
        margin: 2rem auto;
    }
}
